@use "../abstracts";

.auth {
  display: flex;

  min-height: 100vh;

  @supports (-webkit-touch-callout: none) {
    min-height: -webkit-fill-available;
  }

  &__intro,
  &__content {
    flex: 1;

    padding: 0 30px;
  }

  &__intro {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
    background: var(--auth-intro-bg);

    &-next,
    &-logo {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }

    &-next {
      bottom: 50px;
    }

    &-logo {
      top: 80px;
    }

    &-text {
      max-width: 412px;
      text-align: center;
      font-size: 1.8rem;
      font-weight: 500;
      line-height: 144.444%;
      color: var(--auth-intro-text-color);

      @include abstracts.screen(md) {
        font-size: 1.5rem;
      }
    }

    &-img {
      width: var(--width);
      max-width: 100%;
    }
  }

  &__content {
    position: relative;
    background: var(--auth-content-bg);
    overflow-y: auto;

    &--arrow-back {
      position: absolute;
      top: 50px;
      transform: translateY(-50%);
      left: 50px;

      width: 40px;
      height: 40px;

      @include abstracts.screen(md) {
        left: 30px;
      }

      .icon {
        width: 100%;
      }
    }

    @include abstracts.screen(md) {
      position: fixed;
      inset: 0;
      z-index: 1;
      transition: transform 0.3s;

      &.show {
        transform: translateX(0%);
      }

      &.hide {
        transform: translateX(100%);
      }
    }

    &-inner {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;

      width: min(460px, 100%);
      margin: 0 auto;
      padding: 50px 0;

      @include abstracts.screen(md) {
        padding: 30px 0;
      }
    }

    &-bottom {
      gap: 10px;
      margin-top: 108px;

      @include abstracts.screen(md) {
        margin-top: 30px;
      }
    }
  }

  &__heading {
    font-size: 3rem;
    margin-top: 50px;
    font-weight: 500;
    line-height: 146.667%;
    color: var(--auth-heading-color);

    @include abstracts.screen(md) {
      margin-top: 30px;
      font-size: 2.2rem;
    }
  }

  &__desc {
    margin-top: 10px;
    padding: 0 20px;
    color: #9e9da8;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 146.667%;

    @include abstracts.screen(md) {
      font-size: 1.4rem;
    }
  }

  &__message {
    margin-top: 30px;
  }

  &__form {
    width: 100%;
    margin-top: 60px;

    @include abstracts.screen(md) {
      margin-top: 30px;
    }
  }

  &__form-forgot {
    margin-top: 30px;
  }

  &__link {
    color: var(--blue-blue, #0071dc);
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 146.667%;

    @include abstracts.screen(md) {
      font-size: 1.4rem;
    }
  }

  &__btn-group {
    display: flex;
    flex-direction: column;
    gap: 30px;

    @include abstracts.screen(md) {
      margin-top: 30px !important;
      gap: 20px;
    }
  }

  &__btn {
    flex-grow: 1;
    gap: 10px;
    border-color: var(--form-text-input-border-color);
  }

  &__text {
    color: #9e9da8;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 144.444%;

    &-link {
      font-size: inherit;
    }

    @include abstracts.screen(md) {
      font-size: 1.6rem;
    }
  }
}
