<div class="container">
  <div class="footer__row">
    <!-- Column 1 -->
    <div class="footer__column">
      <h3 class="footer__column--heading">SHOP</h3>
      <ul class="footer__list">
        <li class="footer__item">
          <a href="#!">All Department</a>
        </li>
        <li class="footer__item">
          <a href="#!">Fashion Deals</a>
        </li>
        <li class="footer__item">
          <a href="#!">Electronics Discounts</a>
        </li>
        <li class="footer__item">
          <a href="#!">Home & Living Specials</a>
        </li>
        <li class="footer__item">
          <a href="#!">Beauty Bargains</a>
        </li>
      </ul>
    </div>

    <!-- Column 2 -->
    <div class="footer__column">
      <h3 class="footer__column--heading">SUPPORT</h3>
      <ul class="footer__list">
        <li class="footer__item">
          <a href="#!">Store Locations</a>
        </li>
        <li class="footer__item">
          <a href="#!">Order Status</a>
        </li>
      </ul>
    </div>

    <!-- Column 3 -->
    <div class="footer__column">
      <h3 class="footer__column--heading">COMPANY</h3>
      <ul class="footer__list">
        <li class="footer__item">
          <a href="#!">Customer Service</a>
        </li>
        <li class="footer__item">
          <a href="#!">Teams Of Use</a>
        </li>
        <li class="footer__item">
          <a href="#!">Privacy</a>
        </li>
        <li class="footer__item">
          <a href="#!">Careers</a>
        </li>
        <li class="footer__item">
          <a href="#!">About</a>
        </li>
        <li class="footer__item">
          <a href="#!">Affiliates</a>
        </li>
      </ul>
    </div>

    <!-- Column 4 -->
    <div class="footer__column d-xl-none d-sm-block">
      <h3 class="footer__column--heading">CONTACT</h3>
      <a href="tel:+707-948-6105" class="footer__contact">
        <img src="./assets/icons/phone-flip-solid.svg" alt="" class="footer__contact--icon" />
        <p class="footer__contact--thumb">707-948-6105</p>
      </a>
      <a href="mailto:grocerymart@drink.com.vn" class="footer__contact">
        <img src="./assets/icons/mail.svg" alt="" class="footer__contact--icon" />
        <p class="footer__contact--thumb">grocerymart@drink.com.vn</p>
      </a>
    </div>

    <!-- Column 5 -->
    <div class="footer__column footer__column--top-on-sm">
      <!-- Logo -->
      <a href="./" class="logo footer-logo">
        <img src="./assets/icons/logo.svg" alt="grocerymart" class="logo__img" />
        <h1 class="logo__title">grocerymart</h1>
      </a>
      <form action="" class="footer__submit">
        <input placeholder="Enter your email..." type="email" name="" id="" class="footer__submit--mail" />
        <button class="btn btn--primary footer-btn">Submit</button>
      </form>

      <div class="d-none d-sm-none d-xl-block show-on-xl">
        <h3 class="footer__column--heading">CONTACT</h3>
        <a href="tel:+707-948-6105" class="footer__contact">
          <img src="./assets/icons/phone-flip-solid.svg" alt="" class="footer__contact--icon" />
          <p class="footer__contact--thumb">707-948-6105</p>
        </a>
        <a href="mailto:grocerymart@drink.com.vn" class="footer__contact">
          <img src="./assets/icons/mail.svg" alt="" class="footer__contact--icon" />
          <p class="footer__contact--thumb">grocerymart@drink.com.vn</p>
        </a>
      </div>
    </div>
  </div>

  <div class="footer__bottom">
    <div class="footer__social">
      <a href="#!" class="footer__social--link" style="background: #4863a9">
        <img src="../assets/icons/facebook.svg" alt="" class="footer__social--icon" />
      </a>
      <a href="#!" class="footer__social--link" style="background: #f00">
        <img src="../assets/icons/youtube.svg" alt="" class="footer__social--icon" />
      </a>
      <a href="#!" class="footer__social--link" style="background: #000">
        <img src="../assets/icons/tiktok.svg" alt="" class="footer__social--icon" />
      </a>
      <a href="#!" class="footer__social--link" style="background: #4999e6">
        <img src="../assets/icons/twitter.svg" alt="" class="footer__social--icon" />
      </a>
      <a href="#!" class="footer__social--link" style="background: #2f71ab">
        <img src="../assets/icons/linkedin.svg" alt="" class="footer__social--icon" />
      </a>
    </div>
    <p class="footer__copyright">© 2010 - 2025 Grocery Mart. All rights reserved.</p>
  </div>
</div>
